In [2]:
import openpyxl
from pathlib import Path

In [3]:
def get_hyperlink():
    #cwd = Path.cwd()
    #excel_file = cwd / 'geography2' / 'downloads' / 'results_to_box' /  'cros' / 'ResultsList_cros_202207_1_138_Results list for_hlead(_water_ OR river_ OR lake OR dam OR stream OR tributary OR diversion OR irrig.xlsx'

    #Open with full path
    excelBook = openpyxl.load_workbook('/Users/selenawallace/Documents/Data_Science/geography2/downloads/results_to_box/cros/ResultsList_cros_202207_1_138_Results list for_hlead(_water_ OR river_ OR lake OR dam OR stream OR tributary OR diversion OR irrig.xlsx')

    #Open with pathlib
    #excelBook = openpyxl.load_workbook(excel_file)

    excelSheet = excelBook['News']
    
    return excelSheet.cell(row=2, column=1).hyperlink.target

In [56]:
hyperlink = get_hyperlink()
print("Hyperlink")
print(hyperlink)
print(" ")

Hyperlink
https://advance.lexis.com/api/document?collection=news&id=urn:contentItem:6BFW-TB91-DYTH-G0KM-00000-00&context=1516831&sourcegroupingtype=G

In [4]:
#so this gets the hyperlink in the row specified.
#it might be useful to have a for loop somewhere, one of the idx ones
excelBook = openpyxl.load_workbook('/Users/selenawallace/Documents/Data_Science/geography2/downloads/results_to_box/cros/ResultsList_cros_202207_1_138_Results list for_hlead(_water_ OR river_ OR lake OR dam OR stream OR tributary OR diversion OR irrig.xlsx')
excelSheet = excelBook['News']
links = []
for idx in excelSheet[1]:
    links.append(get_hyperlink())

In [5]:
import pandas as pd

In [6]:
total_rows = excelSheet.max_row

hyperlinks = []

for row in range(2, total_rows + 1):  # Assuming total_rows is the number of rows you want to check
    hyperlink = get_hyperlink(row)
    if hyperlink:  # Only append if there is a hyperlink
        hyperlinks.append(hyperlink)

print(hyperlinks)

TypeError: get_hyperlink() takes 0 positional arguments but 1 was given

some of the below is probably repeated but it's the more complete version, I think

In [7]:
# Load the workbook and select the sheet
workbook_path = '/Users/selenawallace/Documents/Data_Science/geography2/downloads/results_to_box/cros/ResultsList_cros_202207_1_138_Results list for_hlead(_water_ OR river_ OR lake OR dam OR stream OR tributary OR diversion OR irrig.xlsx'
excelBook = openpyxl.load_workbook(workbook_path)
excelSheet = excelBook['News']

In [ ]:
#so the next thing I'll need to do is get

In [8]:
import openpyxl
import pandas as pd

def get_hyperlink(idx):
    # Open with full path
    #excelBook = openpyxl.load_workbook('/Users/selenawallace/Documents/Data_Science/geography2/downloads/results_to_box/cros/ResultsList_cros_202207_1_138_Results list for_hlead(_water_ OR river_ OR lake OR dam OR stream OR tributary OR diversion OR irrig.xlsx')
    
    #excelSheet = excelBook['News']
    
    # Check if the cell has a hyperlink and return it
    cell = excelSheet.cell(row=idx, column=1)
    if cell.hyperlink:
        return cell.hyperlink.target
    else:
        return None

In [9]:
# Get the total number of rows in the sheet
total_rows = excelSheet.max_row

# Loop through all the rows in the first column and collect hyperlinks
hyperlinks = []
for row in range(2, total_rows + 1):  # Starting from row 2 to skip the header row
    hyperlink = get_hyperlink(row)
    if hyperlink:  # Only append if there is a hyperlink
        hyperlinks.append(hyperlink)
    else:
        hyperlinks.append(None)  # Maintain list length consistency

In [10]:
pd.read_excel(workbook_path)

,Headline,Publication,Summary,Date
0,"DANGEROUS BLIZZARD HEADS TO CALIFORNIA "" STEPS...","States News Service, 1261 words",NaN,2024-03-01
1,"AECID will provide 250,000 euros in water and ...","CE Noticias Financieras English, 198 words",NaN,2024-03-01
2,Fixtures,"Irish Examiner, SOCCER; Pg. 11, 87 words",NaN,2024-03-01
3,15 State Finance Commission (untied) 2023-24 I...,"Mena Report, 92 words",NaN,2024-03-01
4,15 State Finance Commission (untied) 2023-24 I...,"TendersInfo - Project Notices, 92 words",NaN,2024-03-01
...,...,...,...,...
133,FERC: Withdrawal of Staff Protest on Construct...,"Targeted News Service, 381 words",NaN,2024-03-15
134,Insecurity: APC state chairmen tell Tinubu to ...,"The Nation (Nigeria), 587 words",NaN,2024-03-15
135,Pensioners Call For Pension Commission In Akwa...,The lawmaker representing Yakurr 1 State const...,NaN,2024-03-15
136,EarlyBirds Enhances Cross Functional Collabora...,"Financial Services Monitor Worldwide, 704 words",NaN,2024-03-15
137,Ashamed at pointing out parts of city to touri...,"The Plymouth Herald, LETTERS; Pg. 14, 92 words",NaN,2024-03-15

In [11]:
# Create a DataFrame from the hyperlinks list
links_df = pd.DataFrame(hyperlinks, columns=['Hyperlinks'])
sheet_df = pd.read_excel(workbook_path)

In [12]:
if len(sheet_df) != len(links_df):
    raise ValueError("The number of rows in the existing DataFrame does not match the number of hyperlinks.")

In [13]:
basin_df = pd.concat([sheet_df.reset_index(drop=True), links_df.reset_index(drop=True)], axis = 1)
basin_df.head()

,Headline,Publication,Summary,Date,Hyperlinks
0,"DANGEROUS BLIZZARD HEADS TO CALIFORNIA "" STEPS...","States News Service, 1261 words",NaN,2024-03-01,https://advance.lexis.com/api/document?collect...
1,"AECID will provide 250,000 euros in water and ...","CE Noticias Financieras English, 198 words",NaN,2024-03-01,https://advance.lexis.com/api/document?collect...
2,Fixtures,"Irish Examiner, SOCCER; Pg. 11, 87 words",NaN,2024-03-01,https://advance.lexis.com/api/document?collect...
3,15 State Finance Commission (untied) 2023-24 I...,"Mena Report, 92 words",NaN,2024-03-01,https://advance.lexis.com/api/document?collect...
4,15 State Finance Commission (untied) 2023-24 I...,"TendersInfo - Project Notices, 92 words",NaN,2024-03-01,https://advance.lexis.com/api/document?collect...

In [14]:
basin_df.to_excel('/Users/selenawallace/Documents/Data_Science/geography2/downloads/results_to_box/cros/test_cros.xlsx')